{#
templates/_modelpage.html
Página modelo da aplicação
#}

{% extends "_base.html" %}

{% block content %}

<h2 class="pb-4">Todos os Pads de {{ owner.own_display_name }}</h2>

<div class="alert alert-light d-flex flex-row align-items-center" data-permanent="true">
    <img src="{{ owner.own_photo_url }}" alt="{{ owner.own_display_name }}" style="width: 100px"
        referrerpolicy="no-referrer">
    <h4 class="ms-2">
        {{ owner.own_display_name }}<br>
        <small class="fs-6 text-muted">
            Desde: {{ owner.own_created_at | datetime_br }}<br>
            {% if total > 1 %}
            {{ total }} pads ativos
            {% else %}
            {{ total }} pad ativo
            {% endif %}
        </small>
    </h4>
</div>

{% if pads %}

<small class="d-block mb-4 text-end bg-light p-1 text-muted"><em>Ordenados pela data mais recente.</em></small>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

    {% for pad in pads %}

    <div class="col">
        <div class="card h-100 shadow-sm hover-shadow transition">
            <div class="card-header bg-light">
                {% if pad.pad_is_markdown == 'True' %}
                <span class="pe-1" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Markdown"><i
                        class="bi bi-markdown-fill"></i></span>
                {% else %}
                <span class="pe-1" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Texto Plano"><i
                        class="bi bi-file-text-fill"></i></span>
                {% endif %}
                <a href="/view/{{ pad.pad_id }}" class="text-decoration-none fw-bold" data-bs-toggle="popover"
                    data-bs-trigger="hover" data-bs-content="{{ pad.pad_title }}">
                    {{ pad.pad_title | truncate(length=25, killwords=False) }}
                </a>
            </div>
            <div class="card-body d-flex flex-column">
                <p class="card-text text-muted flex-grow-1">
                    {{ pad.pad_content_preview | truncate(120) }}
                </p>
            </div>
        </div>
    </div>

    {% endfor%}

</div>

{% else %}

<div class="text-center py-5 d-table mx-auto">
    <p class="lead text-muted">Nenhum pad criado ainda.</p>
</div>

{% endif %}

{% endblock %}